mixin play(data)
    .play&attributes(attributes)
        .play__container.container
            .row
                .col-12
                    h2.play__title.title.title_h2 Play games. Increase your skill
                    .row
                        .col-12
                            ul.row.play__list
                                li.col.play__item.play__item_money
                                    .play__icon
                                    .play__item-title Win money
                                li.col.play__item.play__item_points
                                    .play__icon
                                    .play__item-title Win points
                                li.col.play__item.play__item_xp
                                    .play__icon
                                    .play__item-title Raise XP

