.cta {
    background: url('../images/general/cta-bg.png') 0 0 no-repeat;
    
    &__container {
        padding-top: 70px;
        padding-bottom: 50px;
        text-align: center;
    }

    &__title {
        padding-bottom: 47px;

    }

    &__button {
        

    }
}

