mixin join(data)
    .join&attributes(attributes)
        .join__container.container
            h2.join__title Ready to join? It's free!
            .join__w
                .join__monitor
                .join__mobile