.achieve {
    
    &__container {
        padding-top: 0;
        padding-bottom: 123px;
        
    }

    &__list {
        
    }

    &__item {
        
        margin-top: -40px;
        
        width: 1220px;
        height: 250px;

        display: flex;

        background-size: cover;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;

        &_first {
            
            .achieve__inner {
                padding-right: 239px;

            }
        }

        &_second {

            .achieve__inner {
                padding-right: 149px;

            }

            
            .achieve__text {
                padding-top: 24px;
                padding-right: 160px;
                padding-left: 109px;
                padding-bottom: 19px;

            }

        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        flex-grow: 1;
        
    }

    &__text {
        

    }


}
