.game {
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	width: 403px;
	height: 120px;
	color: #fff;
	font-family: $b;
	font-size: 250px;
	font-weight: 700;
	font-style: italic;
	line-height: 297.56px;
	text-transform: uppercase;
    border-radius: 10px 10px / 10px 10px;
	// transform: skew(-10deg);
	
	&_dota-underlord {
		@include bg($game-bg-dota);
		
		.game__shape {
			bottom: -82px;
			right: -54px;
			width: 326px;
			height: 329px;
			background: url('../images/general/game-shape-dota.png');
		}

		.game__inner {

			// &:after {
			// 	left: -18px;
			// 	color: #390068;
			// }
		}
		
	}

	&_csgo {
		@include bg($game-bg-csgo);
		
		.game__shape {
			bottom: -82px;
			right: -8px;
			width: 329px;
			height: 340px;
			background: url('../images/general/game-shape-csgo.png');
		}

		.game__inner {
			
			// &:after {
			// 	color: #390068;
			// }
		}
		
	}

	&_dota2 {
		@include bg($game-bg-dota2);
		
		.game__shape {
			bottom: -82px;
			right: -34px;
			width: 396px;
			height: 342px;
			background: url('../images/general/game-shape-dota2.png');
		}

		.game__inner {
			
			// &:after {
			// 	color: #520010;
			// }
		}
		
	}

	&_pugb {
		@include bg($game-bg-pubg);

		.game__shape {
			bottom: -82px;
			right: -18px;
			width: 281px;
			height: 322px;
			background: url('../images/general/game-shape-pubg.png');
		}

		.game__inner {
			
			// &:after {
			// 	color: #955c10;
			// }
		}
		
	}

	&_teamfight {
		@include bg($game-bg-team);
		
		.game__shape {
			bottom: -73px;
			right: -32px;
			width: 390px;
			height: 310px;
			background: url('../images/general/game-shape-team.png');
		}

		.game__inner {
			
			// &:after {
			// 	color: #a9799d;
			// }
		}
		
	}

	&_fortnite {
		@include bg($game-bg-fortnite);
		
		.game__shape {
			bottom: 0;
			right: 25px;
			width: 130px;
			height: 178px;
			background: url('../images/general/game-shape-fortnite.png');
		}

		.game__inner {
			
			// &:after {
			// 	color: #2e3460;
			// }
		}
		
	}

	&_apex {
		@include bg($game-bg-apex);
		
		.game__shape {
			bottom: -82px;
			right: -25px;
			width: 245px;
			height: 334px;
			background: url('../images/general/game-shape-apex.png');
		}

		.game__inner {
			
			// &:after {
			// 	color: #520010;
			// }
		}
		
	}

	text {
		font-family: $b;
	}

	&__shape {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__inner {
		position: relative;
		padding-left: 50px;
	    display: flex;
        align-items: center;
	    flex-grow: 1;

		// overflow: hidden;
		
		font-weight: 700;
		font-style: italic;
		line-height: 1;
		
		// transform: skew(10deg);
		
		// &:after {
		// 	position: absolute;
		// 	z-index: -1;
		// 	top: -27px;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	height: 179px;
		// 	content: attr(data-title);
		// 	opacity: .4;
		// 	font-family: $b;
		// 	font-size: 250px;
		// 	font-weight: 700;
		// 	font-style: italic;
		// 	line-height: 194.76px;
		// 	text-transform: uppercase;
		// 	// transform: skew20deg);
		// }
	}


	&__text {
		
	}

	&__title {
		margin-bottom: 9px;
		font-size: 24px;
		text-transform: uppercase;
	}

	&__status {
		opacity: 0.3;
		font-size: 16px;
	}


}

