mixin games(data)
    .games&attributes(attributes)
        article.games__game.game.game_dota-underlord
            .game__inner
                .game__shape
                .game__text
                    .game__title dota underlord
                    .game__status в разработке

        article.games__game.game.game_csgo
            .game__inner

                .game__shape
                .game__text
                    .game__title cs go
                    .game__status в разработке

        article.games__game.game.game_dota2
            .game__inner
                .game__shape
                .game__text
                    .game__title dota 2
                    .game__status в разработке

        article.games__game.game.game_pugb
            .game__inner
                .game__shape
                .game__text
                    .game__title pubg
                    .game__status в разработке

        article.games__game.game.game_teamfight
            .game__inner
                .game__shape
                .game__text
                    .game__title teamfight tactics
                    .game__status в разработке

        article.games__game.game.game_fortnite
            .game__inner
                .game__shape
                .game__text
                    .game__title fortnite
                    .game__status в разработке

        article.games__game.game.game_apex
            .game__inner

                .game__shape
                .game__text
                    .game__title apex legends
                    .game__status в разработке