.games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    &__game {
        margin-top: 68px;
        margin-right: 9px;
        &:last-child {
            margin-right: 0;
        }
    }
}
